page-siparis {
    .datatable-header {
        background: #f2f2f2; 
     }

    .datatable-footer {
        background: #f2f2f2; 
     }

     .datatable-header-cell-label{
         color: #00579c;
     }

     .page-count{
         color: #00579c;
     }

     h3{
         font-family: Verdana, Geneva, Tahoma, sans-serif
     }
     
}
