.et-label{
    padding: 0px !important;
    border-top: none !important; 
    font-size: 14px;
    margin-top: 10px;
    background: none;
    border-bottom: 1px solid white;
    box-shadow: none; 
    width: 100% !important;   
}
.et-input{
color: #127ebf;
border-bottom-color: white;
box-shadow: none;
width: 100% !important;
}

.tabbar{
    background-color: #00579c !important;
}

.tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon{
    color: #FF514D !important;
}
.tab-button, .tab-button .tab-button-icon{
    color: #f2f2f2 !important;
}
