<!--
  Generated template for the GecmisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Hesap Dökümü</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row style="padding-left: 1em; padding-right: 1em;">
    <ion-col col-4><p>Başlangıç:</p></ion-col>
    <ion-col col-8><ion-input type="date" [(ngModel)]="tar_baslangic"></ion-input></ion-col>
</ion-row>
  <ion-row style="padding-left: 1em; padding-right: 1em;">
    <ion-col col-4><p>Bitiş:</p></ion-col>
    <ion-col col-8><ion-input type="date" [(ngModel)]="tar_bitis"></ion-input></ion-col>
</ion-row>
  <ion-row style="padding-left: 1em; padding-right: 1em;">
    <ion-col col-6><button ion-button style="width: 100%; height: 30px; background-color: #00579c; color: #f2f2f2" type="button" (click)="Filtrele()">Filtrele</button></ion-col>
    <ion-col col-6><button ion-button style="width: 100%; height: 30px; background-color: #00579c; color: #f2f2f2" type="button" (click)="initializeItems()">Tümünü Gör</button></ion-col>
  </ion-row>
  <ion-card *ngFor="let account of Accounts">
    <ion-card-header>
      <span style="color:#f2f2f2">{{account.faturaturu}}</span>
      <!-- <ion-icon style="float: right;" (click)="takeAction(account.$key)" name="more"></ion-icon> -->
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-3>
          <img *ngIf="account.tip == 'alis'" src="/assets/imgs/plane-red-32.svg" class="icon-red">
          <img *ngIf="account.tip == 'satis'" src="/assets/imgs/plane-green-32.svg"class="icon-green"></ion-col>
        <ion-col col-9>
          <h5><b>{{account.tarih}}</b></h5>
          <h5><b>{{account.miktar}}</b></h5>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>